/**
 * @Author: Ali
 * @Date:   2019-12-29T13:47:41+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-12-29T15:01:16+01:00
 */
.board {
  margin:auto ;
  height: 50vh;
  width:50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
}
